body{
    margin: 4px;
    text-align: center;
    background-color: rgb(17, 17, 17);
    font-family: sans-serif;
    font-size: 16px;
}
h1, h2, h3, h4{
    font-family: 'Times New Roman';
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
p0{
    font-size: 16px;
    margin: 1%;
}
a{
    color: #1672e3;
}
.greyText{
    color: #585858;
    font-size: 14px;
    font-family: 'Times New Roman';
}
h1, h2{
    color: white;
}
.white{
    color: whitesmoke;
}
.articles{
    text-align: center;
    margin: 5%;
}
.tab{
    margin-left: 3%;
}
.tabP{
    margin-left: 6%;
}
#home{
    height: 55%;
    width: 55%;
    transition-duration: 0.2s;
}
#home:hover{
    cursor: pointer;
    height: 65%;
    width: 65%;
    opacity: 95%;
}
#normal{
    color: white;
    transition-duration: 0.3s;
    background-color: rgb(17, 17, 17);
    border: 2px white solid;
    border-radius: 7px;
    padding: 10px;
}
#normal:hover{
    color: black;
    cursor: pointer;
    border: 2px white solid;
    border-radius: 7px;
    background-color: white;
    padding: 10px;
}