body{
    margin: 6px;
    text-align: center;
    font-family: sans-serif;
    font-size: 16px;
}
h1, h2, h3, h4{
    font-family: 'Times New Roman';
}
a{
    color: #1672e3;
}
#CSfirst{
    float: right;
    margin: 0px 0px 0px 0px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
button{
    font-size: 20px;
    color: black;
    text-align: center;
    background-color: white;
    border: #1672e3 solid 2px;
    padding: 10px;
    border-radius: 7px;
    transition-duration: 0.4s;

}
button:hover{
    font-size: 20px;
    color: white;
    background-color: #1672e3;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    border: #1672e3 solid 2px;
    border-radius: 7px;
}
.tab{
    margin-left: 3%;
}
.tabP{
    margin-left: 6%;
}
#home{
    width: 20%;
    height: 20%;
    transition-duration: 0.4s;
}
#home:hover{
    cursor: pointer;
    width: 20%;
    height: 20%;
    opacity: 90%;
}
#email{
    width: 4%;
    height: 4%;
}
@media only screen and (max-device-width: 550px){
    #home{
        width: 45%;
        height: auto;
        transition-duration: 0.2s;
    }
    #home:hover{
        cursor: pointer;
        width: 45%;
        height: auto;
        opacity: 90%;
    }
    button{
        width: 30%;
        height: auto;
        font-size: 70%;
        color: black;
        text-align: center;
        background-color: white;
        border: #1672e3 solid 2px;
        padding: 5px;
        border-radius: 7px;
        transition-duration: 0.4s;
    
    }
    button:hover{
        width: 30%;
        height: auto;
        font-size: 70%;
        color: white;
        background-color: #1672e3;
        text-align: center;
        padding: 5px;
        cursor: pointer;
        border: #1672e3 solid 2px;
        border-radius: 7px;
    }
    #email{
        width: 8%;
        height: auto;
    }
}