body{
    margin: 0% 7% 0% 7%;
    text-align: justify;
    background-color: rgb(17, 17, 17);
    font-family: sans-serif
}
h1, h2, h3, h4{
    color: white;
    font-family: 'Times New Roman';
}
a{
    color: #1672e3;
}
table{
    border-collapse: collapse;
    width: 50%;
}
td, th{
    border: 1px solid white;
    text-align: center;
}
#CSfirst{
    float: right;
    margin: 0px 0px 0px 0px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
button{
    padding: 5px;
    border: 1px #d7d7d7 solid; 
    text-align: center;
}
p6{
    font-family: monospace;
    color: black;
}
.function{
    color: rgb(223, 145, 0);
}
.build{
    color: rebeccapurple;
}
.comments{
    color: darkgreen;
}
.tab{
    margin-left: 3%;
}
.tabP{
    margin-left: 6%;
}
.box{
    border: 20px solid rgb(209, 208, 208);
    background-color: rgb(209, 208, 208);
}
.white{
    color: whitesmoke;
}
