body{
    margin: 6px;
    text-align: center;
    font-family: sans-serif;
    font-size: 16px;
}
h1, h2, h3, h4{
    font-family: 'Times New Roman';
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
p0{
    font-size: 16px;
    margin: 1%;
}
a{
    color: #1672e3;
}
.greyText{
    color: #585858;
    font-size: 14px;
    font-family: 'Times New Roman';
}
.articles{
    text-align: center;
    margin: 5%;
}
.welcome{
    font-family: 'Times New Roman';
    font-size: 700%;
    color: #1672e3;
    opacity: 90%;
}
.tab{
    margin-left: 3%;
}
.tabP{
    margin-left: 6%;
}
#pictureApp{
    height: 30%;
    width: 30%;
    opacity: 85%;
    transition-duration: 0.2s;
}
#pictureApp:hover{
    height: 30%;
    width: 30%;
    opacity: 100%;
    cursor: pointer;
}
#pictureBlog{
    height: 30%;
    width: 30%;
    opacity: 90%;
    transition-duration: 0.2s;
}
#pictureBlog:hover{
    height: 30%;
    width: 30%;
    opacity: 100%;
    cursor: pointer;
}
#home{
    height: 65%;
    width: 65%;
    transition-duration: 0.2s;
}
#home:hover{
    cursor: pointer;
    height: 65%;
    width: 65%;
    opacity: 95%;
}
#dark{
    color: black;
    transition-duration: 0.3s;
    border: 2px black solid;
    border-radius: 7px;
    padding: 10px;
}
#dark:hover{
    color: white;
    cursor: pointer;
    border: 2px black solid;
    border-radius: 7px;
    background-color: black;
    padding: 10px;
}