body {
    text-align: center;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 2%;
    margin-bottom: 2%;
}
#logo {
    width: 11%;
    height: 11%;
    float: left;
}
h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
}
#getmattalx {
    background-color: white;
    border: 1px solid gray;
    border-radius: 7px;
    color: black;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    padding: 8px;
    transition-duration: 0.2s;
}
#getmattalx:hover {
    cursor: pointer;
    background-color: gainsboro;
    border: 1px solid gray;
    border-radius: 7px;
    color: black;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    padding: 8px;
}
#promoVideo {
    width: 500px;
    height: 300px;
}
@media only screen and (max-device-width: 550px) {
    #logo {
        width: 25%;
        height: 25%;
        float: left;
    }
    #promoVideo {
        width: 100%;
        height: max-content;
    }
}
